@model ReceitasDeSucesso.Models.Receita

@{
    ViewData["Title"] = "Consulta de Receita";
}


<div class="container">
    <div class="card mt-4 mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <h2>@Model.Titulo</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="img-thumbnail" src="~/imgs/@Model.Imagem" alt="">
                </div>
            </div>
            <dl class="row">
                <dt class="col-12">
                    Descrição
                </dt>
                <dd class="ml-5">
                    @Model.Descricao
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-12">
                    Ingredientes
                </dt>
                <dd class="ml-5">
                    @Model.Ingredientes
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-12">
                    Modo de preparo
                </dt>
                <dd class="ml-5">
                    @Model.ModoDePreparo
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-12 col-md-6">
                    Categoria
                </dt>
                <dd class="ml-5">
                    @Model.Categoria.Titulo
                </dd>
                <dt class="col-12 col-md-6">
                    Descrição
                </dt>
                <dd class="ml-5">
                    @Model.Categoria.Descricao
                </dd>
            </dl>
        </div>

        <div class="row mt-2 mb-3">
            <div class="col-12 col-md-6">
                <a class="ml-3" asp-action="Listar", asp-controller="Receita"><i class="mdi mdi-arrow-left"></i> Voltar para lista</a>
            </div>
            <div class="col-12 col-md-6 text-right">
                <a asp-action="Editar" asp-route-id="@Model.ID" class="btn btn-md btn-site mr-3">Editar</a>
            </div>
        </div>
        @* <div>
        @Html.ActionLink("Editar", "Editar", new { id = @Model.ID }) |
        <a asp-action="Listar">Voltar para Lista</a>
    </div> *@
    </div>
</div>

    


